.main {
  background: #222222;
  color: white;
}

.container {
  width: 100%;
  background: #222222;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 101px;
}

/* HERO SECTION */

.heroSection {
  position: relative;
  width: 100%;
  height: 80vh;
}

.imageContainer img {
  max-width: 100%;
  height: 80vh;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  max-width: 100%;
}

.figure {
  margin: 0;
  padding: 0;
}

.buttonOverlay {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.trailerButton,
.playButton {
  width: 343px;
  height: 57px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.trailerButton {
  background-color: white;
  color: black;
}

.playButton {
  background-color: purple;
  color: white;
}

.margin {
  margin-left: 10rem;
  width: 70%;
}

.actions {
  margin-top: 3rem;
}

.details ul {
  list-style-type: none;
  padding: 0;
}

.details ul li {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0%;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ratingLabel {
  display: inline-block;
}

.starContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.star {
  width: 20px;
  height: 20px;
}

.description {
  padding-bottom: 3rem;
  font-size: 24px;
}

.description h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: clamp(54px, 5vw + 1rem, 128px);
  height: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 100%;
}

.description p {
  font-size: clamp(16px, 3vw + 1rem, 24px);
}

.loadingContainerMain {
  height: 100vh;
}

/* Loader Styles */
.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #222;
  
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #751b5c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Trivia Section Styles */
.triviaContainer {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  color: white;
  text-align: center;
}

.triviaContainer h2 {
  margin-bottom: 10px;
}

/* Media Queries for Responsiveness */

@media (max-width: 1600px) {

  .heroSection {
    height: 78vh;
  }

  .imageContainer img {
    max-width: 100%;
    height: 80vh;
  }


  .trailerButton,
  .playButton {
    width: 300px;
    height: 50px;
  }

  .margin {
    margin-left: 3rem;
    width: 90%;
  }

  .description h1 {
    font-size: clamp(48px, 4vw + 1rem, 100px);
  }

  .description p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
  }
}

@media (max-width: 1200px) {

  .heroSection {
    height: 74vh;
  }

  .imageContainer img {
    max-width: 100%;
    height: 60vh;
  }



  .buttonOverlay {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start ;
    position: static;
    z-index: 1;
    width: 95%;
    padding-top: 2rem;
    padding-left: 3rem;
  }

  .trailerButton,
  .playButton {
    width: 300px;
    height: 50px;
  }

  .margin {
    margin-left: 3rem;
    width: 90%;
  }

  .description h1 {
    font-size: clamp(48px, 4vw + 1rem, 100px);
  }

  .description p {
    font-size: clamp(16px, 3vw + 1rem, 20px);
  }
}



@media (max-width: 768px) {
  .buttonContainer {
    flex-direction: column;
    gap: 5px;   
  }

  .imageContainer img {
    max-width: 100%;
    height: 60vh;
  }

  .buttonOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: static;
    z-index: 1;
    width: 95%;
    padding: 1rem;
  }

  .trailerButton,
  .playButton {
    width: 100%;
    height: 57px;
    margin: 0 auto;
  }

  .margin {
    margin-left: 1.5rem;
    width: 93%;
  }

  .description h1 {
    font-size: clamp(36px, 3vw + 1rem, 80px);
  }

  .description p {
    font-size: clamp(16px, 3vw + 1rem, 18px);
  }

}

@media (max-width: 480px) {

  .heroSection {
    height: 540px;
  }

  .buttonOverlay {
    width: 90%;
  }

  .trailerButton,
  .playButton {
    height: 50px;
  }

  .margin {
    margin-left: 1rem;
    width: 100%;
  }

  .description h1 {
    font-size: clamp(24px, 2vw + 1rem, 60px);
  }
}
